# Configuración de Base de Datos
IAM_DB_NAME=keycloak_db
IAM_DB_USER=admin
IAM_DB_PASSWORD=root

# Administrador de Keycloak
KC_ADMIN_USER=admin
KC_ADMIN_PASSWORD=admin

# Configuración de MinIO (Storage)
MINIO_USER=admin
MINIO_PASS=password123